* {margin:0;padding:0}
body{font-family:Arial;font-size:16px;line-height:40px;color:#000;background:url(images/body.jpg)repeat fixed #ddd}

.main{background:brown;width:960px;margin:20px auto;display:block;overflow:hidden;}
.header{}
.header img{width:960px;height:193px}
.main-menu{display:block;overflow:hidden;}
.main-menu ul{list-style:none}
.main-menu ul li{float:left; }
.main-menu ul li a{display:block;padding:10px;color:#000;text-decoration:none}
.main-menu ul li a:hover{background:blue}
.slider{display:block;overflow:hidden}
.slider1 {display:block;overflow:hidden;}
.slider-wrapper {width:960px;float:left;}
.main-content{overflow:hidden;margin-top:30px;}
.content {float:left;width:600px;margin-right:30px;}
.sidebar {float:right;width:330px;}
.sidebar ul{list-style:none}
.sidebar ul li a{text-decoration:none;padding:10px}
.sidebar ul li a:hover{background:red}
.footer {background:#333;color:#fff;margin-top:25px;padding:10px}